In [8]:
library("twitteR")

api_key <- "7ICGxNJPdbosOA67rorrJ1i9W"
api_secret <- "CGLcEPnJ8ZeQquy18jUjMzQK5xlDhLcRu4shtCnoTthrmU99IM"
access_token <- "771783467029917697-Du28kI7XpoKSeFRHnUy1rK4ANM6IZ5T"
access_token_secret <- "yg6spi2gpaFgbuxP0bBlr1Z0rjl2cMX9HwyXTW4Gqig3v"

setup_twitter_oauth(api_key,api_secret,access_token,access_token_secret)

[1] "Using direct authentication"

In [3]:
friendships(screen_names="ashwin_mufc")

  name   screen_name id         following followed_by
1 Ashwin ashwin_mufc 1246572168 TRUE      FALSE

In [36]:
my_user <- userFactory$new(screenName="ashwin_mufc")
my_user

[1] "ashwin_mufc"

In [12]:
favorites(my_user,n=3)

[[1]]
[1] "Sport__WAGs: Ivanka Trump - Donald Trump's daughter. #ElectionNight https://t.co/brLSvQNBC1"

[[2]]
[1] "UtdHQ: Sir Alex Ferguson took charge of his first #mufc game 30 years ago today. https://t.co/oruwhxu3rZ"

[[3]]
[1] "HerreraTekkers: Mourinho at his best https://t.co/f79fHIuWMw"

In [39]:
df=twListToDF(lookupUsers("aniruddh2310"))
df

             description statusesCount followersCount favoritesCount
aniruddh2310             0             2              0
             friendsCount url name     created             protected verified
aniruddh2310 1            NA  Aniruddh 2016-09-02 18:54:52 FALSE     FALSE
             screenName   location lang id                 listedCount
aniruddh2310 aniruddh2310          en   771783467029917697 0
             followRequestSent
aniruddh2310 FALSE
             profileImageUrl
aniruddh2310 http://abs.twimg.com/sticky/default_profile_images/default_profile_5_normal.png

In [26]:
library(ggmap)
location="mumbai"
cordinates=geocode(location)
cordinates
df=closestTrendLocations(cordinates$lat,cordinates$lon)
df
df1=getTrends(df$woeid)
df1$name[1:3]

Information from URL : http://maps.googleapis.com/maps/api/geocode/json?address=mumbai&sensor=false

  lon      lat
1 72.87766 19.07598

  name   country woeid
1 Mumbai India   2295411

[1] "#JioFilmfareAwards" "#WOLvCHE"           "#FACup"

In [102]:
tweets=searchTwitter("#superbowl",n=5)
tweets

[[1]]
[1] "shutupvamp: RT @nywolforg: Cutest QB ever.  \n\n#DeflateGateExplained #SuperBowl #standforwolves https://t.co/o8JY9D4ax4"

[[2]]
[1] "BananaDoLou: RT @OfficialMrX: Omg Lady Gaga you Killed it. x #SuperBowl"

[[3]]
[1] "shutupvamp: RT @nywolforg: Beyond being ecologically important as a critical keystone predator, Atka is the cutest QB there will ever be. #superbowl #s…"

[[4]]
[1] "gonzalez23majo: RT @justinbieber: My #SuperBowl commercial w/ @TMobile. Let’s go!! Let me see those #UnlimitedMoves https://t.co/J3YYPkR9nw"

[[5]]
[1] "romanhosub: RT @porliniers: Lady Gaga dio vuelta el partido. #SuperBowl"

In [103]:
library("RSQLite")

In [104]:
register_sqlite_backend("mydb1")
store_tweets_db(tweets)

[1] TRUE

In [105]:
tweets_fromdb=load_tweets_db()
tweets_fromdb

[[1]]
[1] "shutupvamp: RT @nywolforg: Cutest QB ever.  \n\n#DeflateGateExplained #SuperBowl #standforwolves https://t.co/o8JY9D4ax4"

[[2]]
[1] "BananaDoLou: RT @OfficialMrX: Omg Lady Gaga you Killed it. x #SuperBowl"

[[3]]
[1] "shutupvamp: RT @nywolforg: Beyond being ecologically important as a critical keystone predator, Atka is the cutest QB there will ever be. #superbowl #s…"

[[4]]
[1] "gonzalez23majo: RT @justinbieber: My #SuperBowl commercial w/ @TMobile. Let’s go!! Let me see those #UnlimitedMoves https://t.co/J3YYPkR9nw"

[[5]]
[1] "romanhosub: RT @porliniers: Lady Gaga dio vuelta el partido. #SuperBowl"

In [106]:
dmSend('hi','aniruddh2310')

[1] "aniruddh2310->aniruddh2310: hi"

In [30]:
ut=userTimeline('ashwin_mufc')
ut

[[1]]
[1] "ashwin_mufc: Tweeted from Jupyter using TwitteR package in R #geekystuff v2"

In [41]:
df1=twListToDF(lookupUsers('ashwin_mufc'))
df1

            description statusesCount followersCount favoritesCount
ashwin_mufc Carpe Diem  46081         315            94
            friendsCount url name   created             protected verified
ashwin_mufc 340          NA  Ashwin 2013-03-06 17:24:15 FALSE     FALSE
            screenName  location    lang id         listedCount
ashwin_mufc ashwin_mufc Amherst, NY en   1246572168 24
            followRequestSent
ashwin_mufc FALSE
            profileImageUrl
ashwin_mufc http://pbs.twimg.com/profile_images/735925986600968192/c3hzm93C_normal.jpg

In [42]:
showStatus(df1$id)

[1] "mandydoucet: Note to self: do not ALWAYS assume Alyssa is working."

In [67]:
z=getCurRateLimitInfo('friendships')
z

  resource                     limit remaining reset
1 /friendships/outgoing        15    15        2017-02-18 23:57:42
2 /friendships/list            200   200       2017-02-18 23:57:42
3 /friendships/no_retweets/ids 15    15        2017-02-18 23:57:42
4 /friendships/lookup          15    15        2017-02-18 23:57:42
5 /friendships/incoming        15    15        2017-02-18 23:57:42
6 /friendships/show            180   180       2017-02-18 23:57:42

In [100]:
df3=twListToDF(tweets_fromdb)
df3$id[1]
t=retweets(df3$id[1])
t

[1] "833046001329987584"

list()

In [101]:
tweet("hii")

[1] "aniruddh2310: hii"